<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBYlqMwUSQxb2lCOcNgOKbndnBelwm_CbQ</string>
	<key>GCM_SENDER_ID</key>
	<string>964586820164</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.menumo</string>
	<key>PROJECT_ID</key>
	<string>cahatapp-3ec8a</string>
	<key>STORAGE_BUCKET</key>
	<string>cahatapp-3ec8a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:964586820164:ios:8df38581d24c6d88d1e211</string>
</dict>
</plist>